@model FishBuddy.Models.FishSpecies

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FishSpecies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FishSpeciesId" />
            <div class="form-group">
                <label asp-for="FishCommonName" class="control-label"></label>
                <input asp-for="FishCommonName" class="form-control" />
                <span asp-validation-for="FishCommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishSpeciesName" class="control-label"></label>
                <input asp-for="FishSpeciesName" class="form-control" />
                <span asp-validation-for="FishSpeciesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishHabitat" class="control-label"></label>
                <input asp-for="FishHabitat" class="form-control" />
                <span asp-validation-for="FishHabitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordWeight" class="control-label"></label>
                <input asp-for="RecordWeight" class="form-control" />
                <span asp-validation-for="RecordWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordLength" class="control-label"></label>
                <input asp-for="RecordLength" class="form-control" />
                <span asp-validation-for="RecordLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
