@model FishBuddy.Models.FishLure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FishLure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishSpecies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishSpecies.FishSpeciesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishLureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishLureName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FishLureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
