@{
    ViewData["Title"] = "FishBuddy";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:cornflowerblue;border-radius:30px;">
    <h2>
        FishBuddy

    </h2>
</div>
<div class="ms-4">
    <p>
        FishBuddy is an app for Michigan fishers of all experience levels looking to take out some of the guesswork from fishing.
        Discover some of the local species, recommended lures for them, and optimal timing & weather conditions when to catch them.

        We are always looking to improve our application.  Please contact our <a href="mailto:design@FishBuddy.com">Creative Team</a> with your ideas!
    </p>
</div>
