@{
    ViewData["Title"] = "FishBuddy";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:cornflowerblue;border-radius:30px;">
    <h2>FishBuddy</i></h2>
    <h3>A fishing app made by fishers for fishers</h3>
</div>
<div class="ms-3">
    <address>
        20935 Red Oak Drive<br />
        Lake Ann, MI 49650<br />
        <i class="fa fa-phone" style="font-size:24px"></i> 800.777.FISH
    </address>

    <address>
        <strong>Tech Support:</strong>   <a href="mailto:Support@fishbuddy.com">Support@fishbuddy.com</a><br />
        <strong>Sales/Marketing:</strong> <a href="mailto:Marketing@fishbuddy.com">Marketing@fishbuddy.com</a>
    </address>
</div>

