@{
    ViewData["Title"] = "Fishbuddy";
}

<div class="p-5 mb-4 shadow" style="background-color:cornflowerblue;border-radius:30px;">
    <h1>FishBuddy <i class="fa-solid fa-fish" style="font-size:20px;"></i></h1>
    <p class="lead">
        The FishBuddy app aims to display relevant information for multiple species of fish in the Michigan area, such as recommended lures, best times of day to fish, optimal weather conditions, and more!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catch Log</h2>
        <p>
            Log all your fish catches here. 

        </p>
        <img src="~/images/bass.jpg" alt="someone holding a bass" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    </div>
    <div class="col-md-4">
        <h2>Fish Species</h2>
        <p>
            A comprehensive list of all Michigan Fish species and where to find them.

        </p>
        <img src="~/images/bass.jpg" alt="someone holding a bass" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    </div>
    <div class="col-md-4">
        <h2>Lures</h2>
        <p>Check out which lures are best for certain species.</p>
        <img src="~/images/lure.jpg" alt="a spinner lure" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    </div>
    <div class="col-md-4">
        <h2>Best Times To Fish</h2>
        <p>Find the best times to fish for certain species.</p>
        <img src="~/images/sun.jpg" alt="a sunset" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    </div>

    <div class="col-md-4">
        <h2>Weather Conditions</h2>
        <p>See what weather conditions help you land specific fish.</p>
        <img src="~/images/clouds.jpg" alt="cloudy sky" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    </div>
</div>

